body,html {
    background-color: rgb(19, 12, 45);
    color: white;
    padding: 1%; /*espaciado*/
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    
    

    /*background-image: URL("/src/assets/25101.jpg")*/

}